$background-color-adults: #5f76b1;
$background-color-children: #00ffff;

.App {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden !important;
}
.App button {
  transition: 0.3s ease;
}

.App button:focus {
  outline: 0;
}

html,
body {
  overflow-x: hidden !important;
}

a {
  text-decoration: none !important;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.logo {
  width: 75px;
}

.background-children {
  background-color: $background-color-children !important;
}

.background-adults {
  background-color: $background-color-adults !important;
}

.NavMain {
  display: flex;
}

.NavLeft {
  flex: 1;
}

@media screen and (max-width: 991px) {
  .NavMain {
    justify-content: space-between;
    display: flex;
    flex-flow: column;
  }

  .NavLeft {
    order: 2;
    align-items: flex-end;
  }

  .NavRigth {
    order: 1;
  }
}

.navbar-nav .dropdown-menu {
  margin-bottom: 8px;
}

.bg-morado {
  background-color: #9e005d;
}

.bg-morado-claro {
  background-color: rgba(158, 0, 93, 0.13);
}

.bg-cyan-claro {
  background-color: rgba(0, 255, 255, 0.19);
}

.bg-violeta-claro {
  background-color: rgba(95, 118, 177, 0.24);
}

.bg-gray1 {
  background-color: #333333;
}

.bg-wampuk {
  background-color: #5f76b1;
}

.bg-wampuk-children {
  background-color: #00ffff;
}
