$background-color-morado-claro: rgba(158, 0, 93, 0.13);
$background-color-violeta-claro: rgba(95, 118, 177, 0.24);
$background-color-cyan-claro: rgba(0, 255, 255, 0.19);
$background-color-grey-claro: #f2f2f2;
$background-color-grey: #333333;
$background-color-morado: #9e005d;
$background-color-adults: #5f76b1;
$background-color-children: #00ffff;

.App {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden !important;
}
.App button {
  transition: 0.3s ease;
}

.App button:focus {
  outline: 0;
}

html,
body {
  overflow-x: hidden !important;
}

a {
  text-decoration: none !important;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.logo {
  width: 75px;
}

.NavMain {
  display: flex;
}

.NavLeft {
  flex: 1;
}

@media screen and (max-width: 991px) {
  .NavMain {
    justify-content: space-between;
    display: flex;
    flex-flow: column;
  }

  .NavLeft {
    order: 2;
    align-items: flex-end;
  }

  .NavRigth {
    order: 1;
  }
}

.navbar-nav .dropdown-menu {
  margin-bottom: 8px;
}

.bg-morado {
  background-color: $background-color-morado !important;
}

.bg-morado-claro {
  background-color: $background-color-morado-claro !important;
}

.text-morado {
  color: $background-color-morado !important;
}

.bg-cyan-claro {
  background-color: $background-color-cyan-claro !important;
}

.bg-violeta-claro {
  background-color: $background-color-violeta-claro !important;
}

.bg-gray1 {
  background-color: $background-color-grey !important;
}

.bg-wampuk {
  background-color: #5f76b1 !important;
}

.bg-wampuk-children {
  background-color: $background-color-children !important;
}

.background-children {
  background-color: $background-color-children !important;
}

.background-adults {
  background-color: $background-color-adults !important;
}

.bg-grey-claro {
  background-color: $background-color-grey-claro;
}

.modal-content {
  margin-top: 77px !important;
  background-color: $background-color-adults !important;
  border-radius: 2rem !important;
  max-width: 400px;
  margin: auto;
}

.children .modal-content {
  margin-top: 77px !important;
  background-color: $background-color-children !important;
  border-radius: 2rem !important;
  max-width: 400px;
  margin: auto;
}

.btn-morado {
  color: #fff;
  background-color: $background-color-morado !important;
  border-color: $background-color-morado !important;
  padding: 10px 12px 10px 12px !important;
  border-radius: 6px !important;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-weight: 500 !important;
}

.modal-header,
.modal-footer {
  border: 0 !important;
}

.swal2-modal {
  background-color: #5f76b1 !important;
  max-width: 300px !important;
}
.swal2-title {
  color: white !important;
  font-size: 20px !important;
}

.swal2-html-container {
  color: white !important;
  font-size: 20px !important;
}

.swal2-footer {
  text-align: center !important;
}

.swal2-confirm {
  background-color: $background-color-morado !important;
  border-radius: 6px !important;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;
  font-weight: 500 !important;
}

.swal2-cancel {
  background-color: $background-color-grey !important;
  border-radius: 6px !important;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;
  font-weight: 500 !important;
}

.card-title > p {
  margin: 0 !important;
}

.card-text > p {
  margin: 0 !important;
}

#cursoTitle p {
  margin-bottom: 0px !important;
}

#pensum {
  padding: 10px;
}

#pensum .col-3 {
  border: 1px solid #F5F5F5;
  padding: 10px;
}

#pensum p {
  margin-bottom: 0;
  font-size: 14px;
}

@media (min-width: 750px) {
  #pensum p {
    font-size: 16px;
  }

  #pensum .col-3 {
    padding: 15px;
  }
}
