@import "../App.scss";

.landingBackground {
  background: linear-gradient(
    to right,
    $background-color-children,
    $background-color-adults
  );
  height: 100vh;
}

.landingArticule {
  text-align: center;
}

.left-half {
  top: 50%;
  position: absolute;
  left: 0px;
  width: 50%;
}

.right-half {
  top: 50%;
  position: absolute;
  right: 0px;
  width: 50%;
}

.landingImg {
  width: 100%;
  max-width: 300px;
  padding: 10px;
}

.imgShadow {
  border-radius: 50%;
  box-shadow: 2.5px 2.5px 1px #ccc;
}
